body {
    background-color: #39424E;
    color: #CCC;
    margin: auto;
    max-width: 90%;
    margin-top: 1em;
    font-family:"Didact Gothic","sans serif";
    font-size: 1.2em;
}

a {
  color: white;
}
a:visited {
  color: gray;
}
a:hover {
  color: white;
}
a.big-link {
  font-size: 2.4em;
  display: block;
  margin: 1em;
}

.title {
    font-size: 3em;
    margin-top: 2em;
}

.sub-title {
    font-size: 2em;
}

.title {
  animation-duration: 0.5s;
  animation-name: slidein;
}

.sub-title {
    animation-duration: 1s;
    animation-name: appear;
}

@keyframes slidein {
  from {
    margin-top: 4em;
  }

  to {
    margin-top: 2em;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main-nav > a {
  margin-right: 0.3em;
}

pre {
  padding: 1em;
  overflow: auto;
}

.main-body {
  min-height: 30em;
}

.footer {
    margin-top: 4em;
    width: 90%;
    padding: 1em 0 1em 0;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container > iframe.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}