.gradle/
.idea/
.classpath
.project
.settings/
build/
out/
bin/
dist/

# published website on branch "gh-pages"
public/

# sources for the website on branch "site"
site/

*.class
*.jar
*.iml
*.ipr
*.iws

!gradle/wrapper/gradle-wrapper.jar
